# Ignore Python virtual environment
.venv/

# Ignore dataset folder
Brain_tumor_dataset/

# Ignore model weights
best_vit_brain_tumor.pth

# Ignore requirements file
requirements.txt

# Allow the notebook file and gitignore first
!.gitignore
!brain_tumor_vit.ipynb

# Then ignore everything else
*